/* This is the stylesheet for the Weather Site */

/* Table of Contents
1. Imports
2. General rules
3. Mobile first rules
4. Larger Screen rules */

/* Section 1 - Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* Section 2 - General rules */
html {
    box-sizing: border-box;
}

#logo {
    font-size: 2em;
}

*, *:before, *:after{
    box-sizing: inherit;
}

header {
    background-color: #0e89d5;
}

/* put logo and header name on same line */
#page-header{
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sansita', sans-serif;
}
h2, h3, h4 {
    text-align: center;
}

#curWeather p {
    text-align: center;
    background-size: cover;
}

#curtemp {
    font-size: 6em;
}

body {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}

.tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
}

.hide{
    display: none;
}


#temps > h1 {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: row;
}

/* high and low temperature */
#highandlow {
    list-style: none;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
    padding-left: 0%;
}
#high {
    color: red;
}
#low {
    color:blue;
}



.tile img {
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
}

#speed {
    margin-top: -80px;
    margin-bottom: 80px;
}

/* wind mill */
#windimg {
    background-image: url("/weather/weather-site-images/wind-pointer.png");
    height: 167px;
    width: 167px;
    background-repeat: no-repeat;
    margin: 0 auto;
   }

/* wind pointer direction */
.w {
    transform: rotate(270deg);
}
.sw{
    transform: rotate(35deg);
}
.n {
    transform: rotate(0deg);
}
.nw{
    transform: rotate(315deg);
}
.ne{
    transform: rotate(45deg);
}
.e {
    transform: rotate(90deg);
}
.s {
    transform: rotate(180deg);
}
.se {
    transform: rotate(135deg);
}

#hourly{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;

}

#hourlyNumbers{
    display: flex;
    /* width: 100%; */
    /* justify-content: space-around; */
    /* flex-shrink: 3; */
    list-style: none;
    overflow: scroll;
    white-space: nowrap;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li {
    list-style: none;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #0e89d5;
    width: 100%;
    
}

footer {
    margin-bottom: 2em;
    background-color: #0e89d5;
    width: 100%;
}

#site-brand {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}
/* Section 3 - Mobile First */

/* Background pictures for summary */
.clear {
    background-image: url("/weather/optimized-images/clear_250.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.snow {
    background-image: url("/weather/optimized-images/snow_250.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.rain {
    background-image: url("/weather/optimized-images/rain_250.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.fog {
    background-image: url("/weather/optimized-images/fog_250.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cloud {
    background-image: url("/weather/optimized-images/clouds_250.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/********************************
* Medium Screen Styles
* 750px viewport / 18px font = 41.67em
********************************/

@media (min-width: 41.67em) {
    #curWeather {
        display: flex;
        flex-direction: row;  }

    #curWeather section{
        width: 32%;
    }

    .clear {
        background-image: url("/weather/optimized-images/clear_400.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .snow {
        background-image: url("/weather/optimized-images/snow_400.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .rain {
        background-image: url("/weather/optimized-images/rain_400.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .fog {
        background-image: url("/weather/optimized-images/fog_400.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .cloud {
        background-image: url("/weather/optimized-images/clouds_400.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}


/********************************
* Large Screen Styles
* 1200px viewport / 18px font = 66.7em
********************************/

@media (min-width: 66.7em) {
	
}