/* This is the stylesheet for the Weather Site */

/* Table of Contents
1. Imports
2. General rules
3. Mobile first rules
4. Larger Screen rules */

/* Section 1 - Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* Section 2 - General rules */
html {
    box-sizing: border-box;
}

#logo {
    font-size: 4em;
    padding-top: 30px;
}

*, *:before, *:after{
    box-sizing: inherit;
}

header {
    background-color: #0e89d5;
}

/* put logo and header name on same line */
#page-header{
    display:flex;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sansita', sans-serif;
}
h2, h3, h4 {
    text-align: center;
}

#curWeather p {
    text-align: center;
}

#curtemp {
    font-size: 6em;
}

body {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}

.tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
}

#temps > h1 {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: row;
}

/* high and low temperature */
#highandlow {
    list-style: none;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-left: 0%;
}
#high {
    color: red;
}
#low {
    color:blue;
}

#windspeed {
  
}

.tile img {
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
}

#hourly{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;

}

#hourlyNumbers{
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 3;
    list-style: none;
    overflow: auto;
}

nav ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

nav a {
    color: white;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #0e89d5;
    width: 100%;
    
}

footer {
    margin-bottom: 2em;
    background-color: #0e89d5;
    width: 100%;
}

#site-brand {
    font-size: 2em;
    font-weight: 600;
}