/* Mobile Styles */
body {
    background-color: yellow;
}



/* Larger Styles */
@media screen and (min-width: 700px){
   body{
    background-color: red;
    }


    ul {
        display: flex;
        list-style: none; /* gets rid of bullets */
        flex-flow: row-reverse;
    }
}