
/* Medium Screen */
@media only screen and (min-width: 41.67em) {
    
    #rain{
        background-image: url('/weather/optimized-images/clouds_400.jpg')
    }
}

/* Large Screen */
@media only screen and (min-width: 66.7em) {

    .size-image {
        height: 200px;
        width: 200px;
    }
}

