
/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


/* General Rules */

nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: #de2226;
    width: 80%;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

nav ul li{
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav a {
    color: #ffffff;
}

/* Mobile First
need to use flexbox to provide responsive layouts to small and large screens sizes
use a minimum of one media query for larger than mobile screen sizes. */

/* Large Screens */
