
/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');


/* General Rules */

nav {
    font-size: 3vw;
    background-color: #de2226;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

nav ul li{
    list-style: none;
}

nav a {
    color: #ffffff;
}

h1, div {
    font-family: 'Noto Sans SC', sans-serif;
}

#banner > ul {
    list-style: none;
    color: #990033;
}

#list-banner {
    background-color: rgba(255, 255, 255, 0.3);
    /* opacity: 0.3; */
    font-size: 2vw;
}

#actionbtn a img {
    width: 20vw;
    height: auto;
}

table {
    text-align: center;
}

.gray {
     background-color: #808080; 
    background-color: rgba(122, 122, 122, 0.3);
    /* opacity: 0.3; */
}

table a {
    text-decoration: none;
    color: blue;
}

/* Container */
.hide {
    display: none;
}

.list-title{
    font-weight: bold;
}

#product-name {
    margin-left: 10px;
}

#product-content img{
    width: 100%;
    max-width: 250px;
    /*max-height: 400px; */
}

#price-css {
    color: #de2226;
    font-size: 5vw;
    font-weight: bold;
}

.product-space {
    width: 1300px;
    margin-left: 10px;
    margin-right: 10px;
}

.moreInfo {
    line-height: 2.5px;
}

/* Mobile First
need to use flexbox to provide responsive layouts to small and large screens sizes
use a minimum of one media query for larger than mobile screen sizes. */

body {
    background-image: url(../images/site/background-o.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
}

header img {
    width: 45vw;
}

main h1{
    margin-top: 0;
    margin-bottom: 0;
}

#banner {
    position: relative;
    /* height: 350px; */
}

#banner img {
    width: 100%;
    /* height: 350px; */
}

#banner ul {
    position: absolute;
    top: 0px;
    right: 25px;
}

/* #actionbtn img {
    height: 10px;
    width: 50px;
} */

footer {
    text-align: center;
    font-size: 2.5vw;
}

hr {
    width: 98%;
    height: 1px;
    background-color: #000;
}



/* Large Screens */
@media only screen and (min-width: 600px){

#product-container {
    display: flex;
    flex-direction: row;
}
#list-banner {
    background-color: transparent;
}

#bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    
}
}